body {
  font-family: Arial, sans-serif;
  padding: 20px;
}
.page-header{
    text-align: center;
    text-decoration: underline;
}
.controls {
  margin-bottom: 20px;
}

button {
  padding: 10px 15px;
  margin-right: 10px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
}

.users {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 30px;
}

.user-card {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
   min-width: fit-content;
}


.user-card img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
